/**** GOOGLE FONTS ****/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Satisfy&display=swap');

/**** BASE ****/
* {
    font-family: 'Satisfy', cursive, 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type:none ;
}

.img-thumbnail{
    border: 2px solid #FFA000;
}

h1, h2, h3 {
    color: #FFA000;
}

p {
    font-size: 1.1rem;
    font-family: Lato;
}

/**** NAV BAR ****/
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

/**** TOGGLE NAV ****/
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/**** MEDIA QUERIES FOR NAV ****/
@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        font-size: 1.4rem;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/**** JUMBOTRON****/

.jumbotron {
    background-image: url('../img/hero-image.jpg');
    opacity: 0.9;
    height: 90vh;
    background-size: cover;
    background-position: center;
    border-radius: 0px!important;
}

.display-3 {
    padding-top: 8rem;
}

.lead {
    font-size: 2rem;
    color: #ffffff;
} 

.btn-primary {
    color: #ffffff;
    background-color: #FFA000;
    border-color: #ffffff;
}

/**** BREAK LINE ****/
hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #FFA000;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

/**** CARD PANEL ****/
.text{
    font-size: 1.6rem;
    font-family: 'Satisfy';
    color: #FFA000;
}

.card-body {
    background: linear-gradient(to right, #212121, #434343);
}

.py-4 {
    padding-bottom: 0px!important;
    padding-top: 0px!important;
}

/**** FOOTER ****/
footer {
	background-color:  #333;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.social-icon {
  font-size: 2rem;
  padding: .5rem;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  color: #fff;
  background-color: #FFA000;
  text-align: center;
}

/**** REGISTER FORM ****/

#bg_cover {
    flex: 1;
    display: flex;
}

#cover_caption {
  width: 100vw;
  margin: auto;
}

#register_form:before {
	background-color: #FFA000;
	border-radius: 10px;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.display-4{
    color: #333;
}

.mt-2 {
    font-size: 1.2rem;
}

.form-control {
    font-size: 1.2rem;
    font-family: 'Lato';
}

a {
    color: #333;
}

/**** FLASH MESSAGES ****/
.mx-auto {
    font-size: 1.5rem;
}

/**** MODALS ****/
.modal-body {
    font-family: Lato;
    font-size: 1.1rem;
}

.modal-title{
    color: #FFA000;
}

.btn-warning {
    background-color: #FFA000;
    border-color: #FFA000;
    margin-left: .4rem;
}

/**** CARDS ****/
.card-title {
    color: #FFA000;
    padding-top: .6rem;
    margin-bottom: 0;
}

.btn-primary-2 {
    color: #ffffff;
    background-color: #FFA000;
    border-color: #ffffff;
    width: 15rem;
    margin-bottom: .7rem;
}

img {
    height: 13rem;
}

/**** ADD PAIRING FORM ****/
label {
    font-size: 1.3rem;
}

.cheese-title{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.form-row>[class*=col-] {
    padding-top: 1rem;
}

.pt-3 {
    padding-top: 2rem;
    border: solid;
    margin-top: 2rem;
    background-color: #EBEAEA;
    margin-bottom: 2rem;
}

/**** ADD PAIRING FORM/BREAK LINE ****/

hr.style-eight-2 {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #FFA000;
    text-align: center;
}
hr.style-eight-2:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #EBEAEA;
}

/**** BUTTONS ****/
.btn-primary{
    width: 9rem;
    margin-bottom: 1.5rem;
}

.btn {
    vertical-align: baseline;
}

.btn-primary-2 {
    margin-bottom: 0;
    width: auto;
}

.btn-primary-3 {
    color: #ffffff;
    background-color: #FFA000;
    border-color: #ffffff;
    margin-bottom: 1.2rem;
}

.btn-danger-2 {
    margin-top: .5rem;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

/**** SINGLE CHEESE PAGE ****/
.single-title {
    color: #FFA000;
    font-family: lato;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

ul.description{
    font-size: 1.3rem;
}

/**** CARD HOVER ****/
.card {
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.admin {
    font-family:Satisfy ;
}

/**** MEDIA QUERIES ****/
@media only screen and (max-width: 768px) {
    ul.description {
    margin-top: 2rem;
    font-size: 1.7rem;
    }
    p {
        font-size: 1.5rem;
    }
    .pb-3, .py-3 {
    margin-top: 1.3rem;
    }
}

@media only screen and (max-width: 375px) {
    ul.description {
    font-size: 1.5rem;
  }
    p {
        font-size: 1.3rem;
    }
    .display-3 {
        font-size: 3rem;
    }
}

/**** PROFILE PAGE ****/
.bg-warning {
    background-color: #FFA000!important;
}

img {
    border-radius: 50%;
}

/**** SEARCH BOX ****/
.mt-4, .my-4 {
    margin-bottom: 2rem;
}

h3, search-title {
    margin-left: .8rem;
}





