/**** GOOGLE FONTS ****/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Satisfy&display=swap');

/**** BASE ****/
* {
    font-family: 'Satisfy', cursive, 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1, h2 {
    color: #FFA000;
}

p {
    font-size: 1.3rem;
    font-family: Lato;
}

/**** NAV BAR ****/
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

/**** TOGGLE NAV ****/
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/**** MEDIA QUERIES FOR NAV ****/
@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/**** JUMBOTRON****/

.jumbotron {
    background-image: url('../img/hero-image.jpg');
    opacity: 0.9;
    height: 90vh;
    background-size: cover;
    background-position: center;
    border-radius: 0px!important;
}

.display-4 {
    padding-top: 8rem;
}

.lead {
    font-size: 2rem;
    color: #ffffff;
} 

.btn-primary {
    color: #ffffff;
    background-color: #FFA000;
    border-color: #ffffff;
}

/**** BREAK LINE ****/
hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #FFA000;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

/**** ABOUT INDEX ****/
.text-center {
    text-align: center!important;
    font-size: 3rem;
}

/**** CARD PANEL ****/
.text{
    font-size: 3rem;
    font-family: 'Satisfy';
    color: #FFA000;
}

.card-body {
    background: linear-gradient(to right, #212121, #434343);
}

.py-4 {
    padding-bottom: 0px!important;
    padding-top: 0px!important;
}

/**** FOOTER ****/
footer {
	background-color:  #333;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.social-icon {
  font-size: 2em;
  padding: .5rem;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  color: #fff;
  background-color: #FFA000;
  text-align: center;
}

