{% extends "base.html" %}
{% block content %}
<!-- Main container/Title -->
<div class="container cheese-section min-vh-100 pt-3">
    <div class="cheese-headline text-center">
        <h2>All Cheeses</h2>
        <!-- Breakline -->
        <hr class="style-eight">
    </div>
    <!-- Cheese Cards -->
    <div class="row">
    {% for cheese in cheeses %}
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="static/img/brie.jpg" alt="brie cheese">
            <div class="cheese-card-body">
                <div class="text-center">
                <h3 class="cheese card-title">{{cheese.cheese_name}}</h3>
                <h4 class="card-text"><i class="far fa-compass"></i>  {{cheese.country_of_origin}}</h4>
                <p><em>by: {{ cheese.created_by }}</em></p>
                <!-- below place the id in href -->
                <a href="{{url_for('single_cheese', cheeses_id=cheese._id)}}" class="btn btn-primary-2">View {{cheese._id}}</a>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>



{% endblock %}