{% extends "base.html" %}
{% block content %}

<!-- Jumbotron -->
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-3">Cheese & Wine</h1>
        <p class="lead">The perfect recipe for a Great dinner party.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
    </div>
</div>
<!-- Breakline -->
<hr class="style-eight">
<section>
    <!-- Carousel / About section -->
    <div class="container">
        <section class="row align-items-center my-5">
            <div class="col-lg-7">
                <div id="carouselExampleIndicators" class="carousel slide shadow mb-3" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="img-fluid rounded d-block" src="static/img/carousel-1.jpg" alt="cheese">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid rounded d-block" src="static/img/carousel-3.jpg" alt="wine">
                        </div>
                        <div class="carousel-item">
                            <img class="img-fluid rounded d-block" src="static/img/carousel-2.jpg"
                                alt="cheese board and wine">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <article class="col-lg-5">
                <h2 class="text-center">Welcome!</h2>
                <p>Wine and cheese are well known bedfellows but if you’re a beginner it might seem daunting to decide
                    exactly which wine to choose for which cheese. This guide will quickly help you to get started
                    pairing
                    wine and cheese like a pro.</p>
                <a class="btn btn-primary btn-lg shadow mt-3" href="{{ url_for('get_cheeses') }}" role="button">View Pairings</a>
            </article>
        </section>
        <!-- Card panel Popular Cheeses -->
        <div class="card bg-secondary my-5 py-4 text-center shadow mt-3">
            <div class="card-body">
                <h3 class="text">Want to find out more? Contact Us... <i class="fas fa-envelope-open-text social-icon"
                        aria-hidden="true" data-toggle="modal" data-target="#contactModal"></i></h3>
            </div>
        </div>
        <!-- Contact form modal -->
        <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="contactModalheading">Contact Us</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="contactForm">
                            <input type="text" name="name" class="form-control" id="fullname" placeholder="Name*"
                                required />
                            <input type="email" name="emailaddress" class="form-control" id="emailaddress"
                                minlength="10" pattern=".+.com" placeholder="Email adress*" required />
                            <textarea rows="5" name="projectsummary" class="form-control" id="projectsummary"
                                placeholder="Write your query and click submit!*" required></textarea>
                            <button form="contactForm" type="submit" id="submit"
                                class="btn btn-dange-2">Submit!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Popular Cheeses-->
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Our Popular Cheeses</h2>
            <!-- Breakline -->
            <hr class="style-eight">
        </div>
    </div>
    <!-- Cheese Cards -->
    {% if cheeses|length > 0 %}
    <div class="row">
        {% for cheese in cheeses %}
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="wrap">
                <div class="card" style="display:inline-block">
                    <img class="card-img-top" src="{{ cheese.cheese_image }}" alt="cheeses"
                        onerror="this.onerror=null;this.src='static/img/default_img/cheese-default.jpg';">
                    <div class="cheese-card-body">
                        <div class="text-center">
                            <h3 class="cheese card-title">{{cheese.cheese_name}}</h3>
                            <h4 class="card-text"><i class="far fa-compass"></i> {{cheese.country_of_origin}}</h4>
                            <p class="admin">by: {{ cheese.created_by }}</p>
                            <!-- below place the id in href -->
                            <a href="{{url_for('single_cheese', cheeses_id=cheese._id)}}"
                                class="btn btn-primary-2 rounded">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</section>



{% endblock %}