{% extends "base.html"%}
{% block content %}

<!--Main container -->
<div class="container">
    <!--Username header -->
    <header class="py-5 mb-2">
        <div class="card shadow mx-auto">
            <div class="text-center row no-gutters">
                <div class="col-lg-6 text-lg-left text-sm-center profile_info px-4">
                    <h4 class="pt-4">Welcome back,</h4>
                    <h2>{{ user.username }}</h2>
                    <p><i class="fas fa-map-marker-alt fa-lg mr-1 mb-2"></i> Location: {{user.user_loc}}</p>
                    <button data-toggle="modal" data-target="#delete_profile" class="btn btn-danger my-3">Delete
                        Profile</button>
                </div>
                <div class="col-lg-6 bg-warning">
                    <img class="profile_img mx-auto my-4 shadow" src="/static/img/default_img/user.jpg" alt="user image">
                </div>
            </div>
        </div>
    </header>

    <!-- Modal "Delete Profile" -->
    <div class="modal fade" id="delete_profile" tabindex="-1" role="dialog" aria-labelledby="delete_profile"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title">Delete your profile?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your profile?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning text-white" data-dismiss="modal">Cancel</button>
                    <a href="{{ url_for('delete_profile', username=username)}}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <!--Submit a Pairing -->
    <div class="col-md-4 mb-5">
        <h2>Submit a Pairing</h2>
        <hr>
        <a class="btn btn-primary btn-lg shadow mt-3" href="{{ url_for('add_pairing')}}"> Create New</a>
    </div>
</div>
{% endblock %}