{% extends "base.html"%}
{% block content %}

<!--Main container -->
<div class="container">
    <!--Username header -->
    <header class="py-5 mb-2">
        <div class="card shadow mx-auto">
            <div class="text-center row no-gutters">
                <div class="col-lg-6 text-lg-left text-sm-center profile_info px-4">
                    <h4 class="pt-4">Welcome back,</h4>
                    <h2>{{ username }}</h2>
                    <p><i class="fas fa-map-marker-alt fa-lg mr-1 mb-2"></i> Location: {{username.user_loc}}</p>
                    <button data-toggle="modal" data-target="#delete_profile" class="btn btn-danger my-3">Delete
                        Profile</button>
                </div>
                <div class="col-lg-6 bg-warning">
                    <img class="profile_img mx-auto my-4 shadow" src="#" alt="user image"
                        onerror="this.onerror=null;this.src='/static/img/default_img/user.jpg';">
                </div>
            </div>
        </div>
    </header>

    <!--User Pairings -->
    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>Your Pairings</h2>
            <hr>
            <div class="row">
                {% for cheese in cheeses %}
                <div class="col-md-6">
                    <div class="wrap">
                        <div class="card shadow my-3 d-flex">
                            <div class="text-center">
                                <img src="{{ cheeses.cheese_image }}" alt="" class="rounded"
                                    onerror="this.onerror=null;this.src='/static/img/default_img/cheese-default.jpg';">
                                <h4 class="py-2 px-3">{{cheeses.cheese_name}}</h4>
                                <p>{{cheeses.country_of_origin}}</p>
                                <div class="text-center">
                                    <a href="{{url_for('get_cheese', cheeses_id=cheeses._id)}}"
                                        class=" btn btn-small btn-warning btn-color  m-2"><i class="fas fa-eye"></i></a>
                                    {% if session.user == 'admin' or session.user|lower == pairing.created_by|lower %}
                                    <button class="btn btn-small btn-danger m-2" data-toggle="modal"
                                        data-target="#delete_pairing_{{cheeses._id}}"><i
                                            class="fas fa-trash"></i></button>
                                    {% endif %}
                                    {% if session.user|lower == pairing.created_by|lower %}
                                    <a href="{{ url_for('edit_pairing', cheeses_id=cheeses._id)}}"
                                        class="btn  btn-small btn-success m-2"><i class="fas fa-edit"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        <!-- Modal "Delete Profile" -->
        <div class="modal fade" id="delete_profile" tabindex="-1" role="dialog" aria-labelledby="delete_profile"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete your profile?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete your profile?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning text-white" data-dismiss="modal">Cancel</button>
                        <a href="{{ url_for('delete_profile', username=username)}}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}