{% extends "base.html" %}
{% block content %}

<!--Main container -->
<div class="container">
    <!--Username header -->
    <header class="py-5 mb-2">
        <div class="card shadow mx-auto">
            <div class="text-center row no-gutters">
                <div class="col-lg-6 text-lg-left text-sm-center profile_info px-4">
                    <h4 class="pt-4">Welcome back,</h4>
                    <h2>{{ username }}</h2>
                    <p><i class="fas fa-map-marker-alt fa-lg mr-1 mb-2"></i> Location: </p>
                    <button data-toggle="modal" data-target="#delete_profile" class="btn btn-danger my-3">Delete
                        Profile</button>
                </div>
                <div class="col-lg-6 bg-warning">
                    <img class="profile_img mx-auto my-4 shadow" src="#" alt="user image">
                </div>
            </div>
        </div>
    </header>
</div>




{% endblock %}