{% extends "base.html" %}
{% block content %}

<div class="container">
    <section class="row align-items-center my-5">
        <div class="col-lg-7">
            <h2 class="single-cheese-title">{{cheeses.cheese_name}}</h2>
            <hr>
            <img src="{{ cheeses.cheese_image }}" alt="brie" class="img-thumbnail">
        </div>
        <article class="col-lg-5">
            <ul class="cheese-description">
                <li><i class="fas fa-flag"></i> {{cheeses.country_of_origin}}</li><br>
                <li><i class="fas fa-flask"></i> {{cheeses.made_from}}</li><br>
                <li><i class="far fa-folder"></i> {{cheeses.type}}</li><br>
                <li><i class="fas fa-utensil-spoon"></i> {{cheeses.flavour}}</li><br>
                <li><i class="fas fa-chart-pie"></i> {{cheeses.texture}}</li><br>
            </ul>
            <hr>
            <p>{{cheeses.description}}</p>
        </article>
    </section>
            <!-- Breakline -->
        <hr class="style-eight">
</div>



{% endblock %}